:root {
  --col-primary: #eef0e8;
  --col-secondary: #F29B30;
  --col-ternary: #731A1A;
  --col-red: #BF3939;
  --col-green: #888C65;
  --col-black: #0D2624;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  /* TODO: media queries */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 1rem 0 2rem;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.77%, #000000 100%),
    url('./assets/bg.png');

  font-family: 'Merriweather', serif;
  font-size: 1rem;
  letter-spacing: .1em;
}

.logo--main {
  /* TODO: media queries */
  max-width: 300px;
  width: 90vw;
  /* *** */
  opacity: 1;
  transform: translate3d(0,0,0);
  animation: slide-in 1.2s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -200%,0);
  }
  70% {
    transform: translate3d(0, 15%,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0,0);
  }
}

.social-links__container {
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.link {
  text-decoration: none;
  font: inherit;
  color: var(--col-primary);
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--col-secondary);
}

.icon {
  margin: 1rem;
  width: 4rem;
  height: 4rem;
  fill: none;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.icon > path {
  fill: var(--col-primary);
}

.icon:hover {
  transform: translate3d(0,10%,0);
}

.icon:hover > path {
  fill: var(--col-secondary);
}

/* TODO: add prefixes, minify css */