:root {
  --col-primary: #eef0e8;
  --col-secondary: #f29b30;
  --col-ternary: #888C65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 0 0 1rem;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.77%, #000000 100%),
    url('./assets/bg.png');

  font-family: 'Merriweather', serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--col-primary);
}

.logo--main {
  max-width: 300px;
  width: 90vw;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  animation: slide-in 1.2s ease-in-out;
}

.social-links__container {
  margin-bottom: 1rem;
}

.social-link {
  text-decoration: none;
}

.gig {
  transition: transform 0.2s ease-in-out;
}

.gig:hover {
  transform: translate3d(0, -3px, 0)
}

.gig + .gig {
  margin-top: .5rem;
}

.link {
  text-decoration: none;
  font: inherit;
  color: var(--col-primary);
  transition: color 0.2s ease-in-out;
}


.link:hover {
  color: var(--col-secondary);
}

.icon {
  margin: 0 1rem;
  width: 4rem;
  height: 4rem;
  fill: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon > path {
  fill: var(--col-primary);
}

.icon:hover {
  transform: translate3d(0, 10%, 0);
}

.icon:hover > path {
  fill: var(--col-secondary);
}

.section {
  padding: 1rem;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--col-ternary);
}

.link--booking {
  margin: 0.5rem;
  display: block;
  text-align: center;
}

.gigs-list {
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .logo--main {
    max-width: 400px;
  }
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .link--booking {
    display: inline;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -200%, 0);
  }
  70% {
    transform: translate3d(0, 15%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* TODO: add prefixes, minify css */
